<app-navigation></app-navigation>

<div>
<p>Here's a random collection of photos of my 2013 Subaru BRZ Limited with a 6 speed manual transmission and my 2016 Yamaha FZ-09.</p>
</div>

<div class="container">
<div class="car">
  <img src="assets/brz.jpg" alt="">
  <img src="assets/brz1.jpg" alt="">
</div>

<div class="motorcycle">
  <img src="assets/fz09 1.jpg" alt="">
  <img src="assets/fz09 2.jpg" alt="">
  <img src="assets/fz09 3.jpg" alt="">
  <img src="assets/fz09 4.jpg" alt="">
  <img src="assets/fz09 5.jpg" alt="">
  <img src="assets/fz09 6.jpg" alt="">
  <img src="assets/fz09 7.jpg" alt="">
  <img src="assets/fz09 8.jpg" alt="">
  <img src="assets/fz09 9.jpg" alt="">
  <img src="assets/fz09 10.jpg" alt="">
</div>
</div>