a {
  display: flex;
  justify-content: right;
  flex-direction: row;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  font-weight: 550;
}

.intro {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

img {
  width: 650px;
  height: 650px;
  border-radius: 50%;
}

h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 400%;
  margin-top: 50px;
}

p {
  border: white solid 1px;
  border-radius: 5px;
  width: 40vw;
  padding: 5px;
  padding-left: 20px;
  padding-right: 5px;
  -webkit-box-shadow: 4px 4px 58px -16px rgba(89,89,89,1);
-moz-box-shadow: 4px 4px 58px -16px rgba(89,89,89,1);
box-shadow: 4px 4px 58px -16px rgba(89,89,89,1);
}
