<app-navigation></app-navigation>
<div class="intro">
  <!-- <img src="assets/linkedin profile pic.png" alt=""> -->
  <h1>Mitchel Bower</h1>
</div>

<div>
  <p>Hey! I'm Mitch, I am a musician of 15 years, hobby automotive detailer, car and motorcycle enthusiast, and an aspiring software engineer/web developer! If you like what you see here, please feel free to check out my github, linkedin or any of my projects showcased below!</p>
</div>

<div class="showcase">
  <a class="link" href="https://perpetualspacecadet.surge.sh/home" target="_blank">
  <img src="assets/recipe picker.png" alt="">
</a>
  <a class="link" href="https://perpetualspacecadet.surge.sh/home" target="_blank">
  <img src="assets/space cadet logo.png" alt="Space Cadet">
</a>
</div>