.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

a {
  display: flex;
  justify-content: right;
  flex-direction: row;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  font-weight: 550;
}

.intro {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* img {
  
} */

h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 200%;
  margin-top: 30px;
}

p {
  border: white solid 1px;
  border-radius: 5px;
  width: 40vw;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-shadow: 4px 4px 58px -16px rgba(89, 89, 89, 1);
  -moz-box-shadow: 4px 4px 58px -16px rgba(89, 89, 89, 1);
  box-shadow: 4px 4px 58px -16px rgba(89, 89, 89, 1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  a {
    display: flex;
    justify-content: right;
    flex-direction: row;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    font-weight: 550;
  }

  .intro {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 400%;
    margin-top: 50px;
  }

  p {
    border: white solid 1px;
    border-radius: 5px;
    width: 40vw;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 4px 4px 58px -16px rgba(89, 89, 89, 1);
    -moz-box-shadow: 4px 4px 58px -16px rgba(89, 89, 89, 1);
    box-shadow: 4px 4px 58px -16px rgba(89, 89, 89, 1);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
  }
}
