<header>
  <nav>
    <li>
      <a href="music" routerLink="/music">music</a>
      <a href="bikes-and-cars" routerLink="/bikes-and-cars">Bikes and Cars</a>
    </li>
  </nav>
</header>

<div class="intro">
  <img src="assets/linkedin profile pic.png" alt="">
  <h1>Mitchel Bower</h1>
</div>

<div>
<p>This is where my intro will be Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur beatae adipisci similique error? Nesciunt commodi reiciendis deleniti, accusantium similique officia, suscipit molestias architecto cupiditate impedit sapiente beatae quis ea repellendus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis eum quam totam distinctio mollitia, suscipit sunt quod quia! Numquam magnam quis dolor, saepe placeat sit exercitationem reiciendis accusantium at maxime! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos magnam aliquid, natus sequi molestiae debitis quidem, pariatur dolore quibusdam amet repudiandae qui. Dolores aspernatur deleniti dicta cumque officia, facere corrupti!</p>
<a href="link">link to git hub</a>
<a href="https://perpetualspacecadet.surge.sh/home" target="_blank">link to space cadet</a>
<a href="https://www.linkedin.com/in/mitchelbower/" target="_blank">link to linkedin</a>

</div>