<app-navigation></app-navigation>
<div class="intro">
  <!-- <img src="assets/linkedin profile pic.png" alt=""> -->
  <h1>Mitchel Bower</h1>
</div>

<div>
  <p>
    Hey! I'm Mitch, I am an aspiring software engineer/web developer, musician
    of 15 years, hobby automotive detailer, and a car and motorcycle enthusiast.
    If you like what you see here, please feel free to check out my github,
    linkedin or any of my projects showcased below!
  </p>
</div>

<div class="container">
  <div class="showcase">
    <a class="link" href="https://perpetualrecipebuddy.surge.sh/search" target="_blank">
      <img class="image" src="assets/recipe picker.png" alt="" width="400" height="230">
    </a>
    <a class="link" href="https://perpetualspacecadet.surge.sh/home" target="_blank">
      <img class="image" src="assets/space cadet logo.png" alt="Space Cadet" width="400" height="230">
    </a>
    <a class="link" href="https://numberguess.surge.sh/" target="_blank">
      <img class="image" src="assets/guess my number.png" alt="" width="350" height="175">
    </a>
  </div>
</div>