<nav>
  <h1 routerLink="/main">myPortfolio</h1>
  <ul class="socials">
    <li>
      <a
        href="https://github.com/mitchelbower1"
        target="_blank"
        class="fab fa-github"
      ></a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/mitchelbower/"
        target="_blank"
        class="fab fa-linkedin"
      ></a>
    </li>
    <!-- <li><a href="assets/Mitchel_Bower_Resume.pdf" target="_blank" download="Mitchel_Bower_resume.pdf">download my resume</a></li> -->
  </ul>
  <ul class="nav">
    <li><a href="music" routerLink="/music">Music</a></li>
    <li>
      <a href="bikes-and-cars" routerLink="/bikes-and-cars">Bikes and Cars</a>
    </li>
  </ul>
</nav>
