<nav>
  <h1 routerLink="/main">myPortfolio</h1>
  <ul class="socials">
    <li><a href="https://github.com/mitchelbower1" target="_blank" class="fab fa-github"></a></li>
    <li><a href="https://www.linkedin.com/in/mitchelbower/" target="_blank" class="fab fa-linkedin"></a></li>
  </ul>
  <ul class="nav">
    <li><a class="music" href="music" routerLink="/music">Music</a></li>
    <li><a class="bikesAndCars" href="bikes-and-cars" routerLink="/bikes-and-cars">Bikes and Cars</a></li>
  </ul>
</nav>