nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 35px;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

li {
  margin: 5px;
}

.fa-github {
  padding: 5px;
  font-size: 40px;
}

.fa-linkedin {
  font-size: 40px;
}

a {
  text-decoration: none;
  margin: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

@media only screen and (min-width: 1020px) {
  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80px;
    width: 100%;
  }

  h1 {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    padding-left: 50px;
    cursor: pointer;
    font-weight: 500;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    float: right;
    margin-right: 20px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
  }

  nav ul li {
    display: flex;
    align-items: right;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 80px;
    margin: 0 5px;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 70px;
  }

  a {
    color: white;
    font-size: medium;
    font-weight: 400;
    margin-right: 15px;
  }

  .fa-github {
    padding: 5px;
    font-size: 30px;
  }

  .fa-linkedin {
    font-size: 30px;
  }
}
