<app-navigation></app-navigation>


<div class="paragraph">
  <p>Ahh, so you were curious enough to wander to this portion of my site! Below I have displayed a couple examples of my solo music work on YouTube, a link to my bandcamp with my solo EP, as well as a section showing off all of my beautiful guitars/ basses i've collected over the years. Hope you enjoy what I have for you to hear!</p>
</div>

<div class="yt-player">
<yt-player class="ytPlayer" [videoId]="'pXLyjeZGG0k'" suggestedQuality="highres"></yt-player>
<yt-player class="ytPlayer" [videoId]="'DGkyuGOJaCQ'" suggestedQuality="highres"></yt-player>
</div>

<div class="bandCampLink">
  <a class="link" href="https://mtheory123.bandcamp.com/releases?fbclid=IwAR0tU1lfrlLoJ3UC1GnWHR8HJP1cJlcmzFUpwk8wtnlCAkXXSTM3J5s5zdY" target="_blank">Link to my Bandcamp!</a>
</div>


<div class="wrapper">
  <h1>Tools of the Trade</h1>
  
  <button (click)="toggle()"> {{buttonName}} </button>
  
  <ng-container class="container" *ngIf="show">
    
<div class="pictures">  
  <img src="assets/ormsby.jpg" alt="Ormsby HyperGTR">
  <img src="assets/ormsby 3.jpg" alt="Ormsby HyperGTR">
  <img src="assets/ormsby 4.jpg" alt="Ormsby HyperGTR">
  <img src="assets/ormsby 6.jpg" alt="Ormsby HyperGTR">
  <img src="assets/ormsby 7.jpg" alt="Ormsby HyperGTR">
  <img src="assets/ormsby 9.jpg" alt="Ormsby HyperGTR">
  <img src="assets/ormsby 10.jpg" alt="Ormsby HyperGTR">
  <img src="assets/ormsby 11.jpg" alt="Ormsby HyperGTR">
</div>
</ng-container>

<button (click)="toggleAgile()"> {{buttonNameAgile}} </button>

<ng-container class="container" *ngIf="showAgile">

<div class="pictures">  
  <img src="assets/agile.jpg" alt="agile">
  <img src="assets/agile 1.jpg" alt="agile">
  <img src="assets/agile 2.jpg" alt="agile">
  <img src="assets/agile 3.jpg" alt="agile">
  <img src="assets/agile 4.jpg" alt="agile">
  <img src="assets/agile 5.jpg" alt="agile">
</div>
</ng-container>

<button (click)="toggleJackson()"> {{buttonNameJackson}} </button>

<ng-container class="container" *ngIf="showJackson">

<div class="pictures">  
  <img src="assets/Jackson.jpg" alt="jackson">
  <img src="assets/jackson 1.jpg" alt="jackson">
  <img src="assets/jackson 2.jpg" alt="jackson">
</div>
</ng-container>

<button (click)="toggleEsp()"> {{buttonNameEsp}} </button>

<ng-container class="container" *ngIf="showEsp">
<div class="pictures">  
  <img src="assets/ESP 1.jpg" alt="ESP">
  <img src="assets/ESP 2.jpg" alt="ESP">
  <img src="assets/ESP 3.jpg" alt="ESP">
</div>
</ng-container>

<button (click)="toggleEspFretless()"> {{buttonNameEspFretless}} </button>

<ng-container class="container" *ngIf="showEspFretless">
<div class="pictures">  
  <img src="assets/ESP Fretless.jpg" alt="ESP">
  <img src="assets/ESP Fretless 1.jpg" alt="ESP">
  <img src="assets/ESP fretless 2.jpg" alt="ESP">
  <img src="assets/ESP Fretless 3.jpg" alt="ESP">
</div>
</ng-container>
</div>