.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  line-height: 200%;
  margin-top: 50px;
  width: 40vw;
  padding: 5px;
  border: white solid 1px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-shadow: 4px 4px 58px -16px rgba(89,89,89,1);
-moz-box-shadow: 4px 4px 58px -16px rgba(89,89,89,1);
box-shadow: 4px 4px 58px -16px rgba(89,89,89,1);
}

.yt-player {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}

.ytPlayer {
  margin-top: 20px;
}

.bandCampLink {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
 }

 .link {
   list-style: none;
   text-decoration: none;
  margin-bottom: 15px;
  padding: 0px;
 }

 .bandcamp-image {
   width: 250px;
   height: 50px;
 }

 .soundcloud-image {
  width: 250px;
  height: 100px;
}

 a:hover {
  background-color: black;
  color: white;
 }

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

button {
  font-size: larger;
  display: flex;
  justify-content: center;
  color: black;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px;
  background-color: white;
  border: none;
}

button:hover {
  background-color: black;
  color: white;
  border: none;
}


.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img { 
  width: 498px;
  height: 498px;
  padding-top: 20px;
}