.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

button {
  font-size: larger;
  display: flex;
  justify-content: center;
  color: black;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
}


.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img { 
  width: 498px;
  height: 498px;
  padding-top: 20px;
}